
        <h3 class="article-header">Articles:</h3>
        <button class="btn btn-danger float-right" id="delete-articles">
		            Delete All Articles
	      </button>
        <ul id="article-list" class="list-group">
          {{#each articles}}
          <li data-id="{{this._id}}" class="list-group-item">
            <h4>
              <a href="{{this.link}}" target=”_blank”>{{this.title}}</a>
            </h4>
            <a href="comments/{{this._id}}" class="btn btn-danger float-right comment" role="button">Open Comments</a>
            {{!-- <button class="btn btn-danger float-right comments">Comments</button> --}}
            <p data-id="{{this._id}}">
              {{#if this.summary}}<a href="{{this.link}}" target=”_blank”>{{this.summary}}</a>{{else}}[No Summary]{{/if}}
            </p>
          </li>
          {{/each}}
        </ul>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/indexPage.js"></script>
